*:focus,
*:focus-within {
	outline: 0 !important;
	border: 0 !important;
}

html,
body {
	font-family: "IBM Plex Sans", sans-serif;

	min-height: 100vh;
	width: 100%;
	max-width: 100vw;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
