:root {
    /* Colors */

    --e-color-indigo-light: #f1f6ff;
    --e-color-indigo: #528afa;
    --e-color-indigo-dark: #2c4ba9;
    --e-color-indigo-shade-15: #4675d5;
    --e-color-indigo-shade-20: #426ec8;
}
